<html lang="en">
  <head>
    <!-- font-awesome.css path -->
    <link rel="stylesheet" href="../style/font-awesome/css/font-awesome.css">

    <!-- JQuery path -->
    <script src="../js/jquery-3.3.1.min.js" ></script>

    <!-- Bootstrap JS path -->
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS path -->
    <link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css" >

    <!-- imported main.css -->
    <link rel="stylesheet" href="../style/main.css" >

    <!-- imported style.css -->
    <link rel="stylesheet" href="../style/style.css">
    <title>{{titlePage}}</title>
</head>

  <!-- header  -->
<nav class="nav navbar navbar-light d-flex justify-content-between py-0 sticky-top" style="background-color:#363F4D">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="/main/dashboard" style="color:#0497df;">
      <i class="fa fa-hospital-o"></i> SDS</a>
    <form class="nav-item" style="width: 30rem;">
      <div class="input-group pt-3">
        <input type="text" class="form-control" placeholder="Search patient...">
        <button class="btn" style="background-color: teal;color: whitesmoke;" type="button" id="searchPatient">
          <i class="fa fa-search fa-fw"></i>
        </button>
      </div>
    </form>
    <div class="d-inline-flex p-2">
      <a href="#">
        <i class="fa fa-user-circle fa-2x pr-3 mt-0" style="color: white"></i>
      </a>
      <button type="button" class="btn btn-sm btn-danger" id="btnLogout">
        <strong>Logout </strong>
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>
</nav>

<!-- side-nav bar -->
  <div class="side-nav">
    <!-- side-nav ul li for medium and large screens -->
    <div class="d-none d-sm-none d-md-block">
        <ul>
            <li>
              <a href="/main/dashboard" id="aDashboard">
              <span><i class="fa fa-home " aria-hidden="true"></i></span>
              <span> Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/main/appointment" id="aAppointment">
                <span><i class="fa fa-calendar " aria-hidden="true"></i></span>
              <span> Appointment</span>
              </a>
            </li>
            <li>
              <a href="/main/patient" id="aPatient">
                <span><i class="fa fa-users " aria-hidden="true"></i></span>
              <span> Patient</span>
              </a>
            </li>
            <li>
              <a href="/main/treatment" id="aTreatment">
                <span><i class="fa fa-plus-square " aria-hidden="true"></i></span>
              <span> Treatment</span>
              </a>
            </li>
            <br/>
          </ul>
    </div>
    <!--side-nav ul li for small screens -->
    <div class="d-block d-sm-block d-md-none">
        <ul>
          <li>
            <a href="#" id="aDashboard">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="#" id="aAppointment">
              <i class="fa fa-calendar "></i>
            </a>
          </li>
          <li>
            <a href="#" id="aPatient">
              <i class="fa fa-users "></i>
            </a>
          </li>
          <li>
            <a href="#" id="aTreatment">
              <i class="fa fa-plus-square "></i>
            </a>
          </li>
        </ul>
      </div>
  </div><!--side-nav closing div -->

<body >
  
{{{ body }}}

      <!-- scripts path-->
      <script src="../js/modal.js"></script>
      <script src="../js/script.js"></script>
</body>
</html>