body {
    background-color: #F7F7F7; /* #f0eeec */

}

/* Style page content */
.dashboard{
    display: block;
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: #000000;
    /* width: 100%; */
}

.patient{
    display: block;
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.appointment{
    display: block;
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.treatment{
    margin-top: 5px;    
    display: block;
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

input.input_fields_forms {
    /* border: none; */
    font-size: 15px;
    padding: 2px;
    padding-left: 5px;
    width: 45%;
    /* border-radius:18px; */
    /* box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4); */
    margin-top: 2px;
    cursor: text;
    color: black
  }

.lab{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.marqueeColor{
    color: #115255;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 80px; /* Location of the box */
    padding-bottom: 30px;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.closePatient {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: hand;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    z-index: 3;
    padding: 2px 16px;
    background-color: #248c92;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 15px 16px;
    background-color: #248c92;
    color: white;
}

/* Modal Appointment stuff */
.modalAppointment {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 30px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-appointment {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.closeAppointment {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeAppointment:hover,
.closeAppointment:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* .modal-header-appointment {
    padding: 2px 16px;
    background-color: #248c92;
    color: white;
}

.modal-body-appointment {padding: 2px 16px;}

.modal-footer-appointment {
    padding: 2px 16px;
    background-color: #248c92;
    color: white;
} */

/*sidebar css 24-3-2018(old) 6-08-2018(New):p */

.side-nav {
	position: fixed;
	width: 15%;
	height: 100%;
	background-color: #35475e;
    z-index: 3;
	display: block
}

.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid #3c506a;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}
.side-nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #0497df; /*0497df*/
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
/* side nav for small screens */
@media screen and (max-width: 600px) {
    .side-nav {
        position: fixed;
        width: 15%;
        height: 100%;
        background-color: #35475e;
        z-index: 3;
        display: block
    }

    .side-nav ul li {
        padding: 15px 5px;
        border-bottom: 1px solid #3c506a;
        position: relative;
    }

    .side-nav ul li i {
        color: #0497df; /*0497df*/
        font-size: 23px;
        text-align: center;
  }
}
/* Success Modal for Add Patient */
/* The Modal (background) */
.modalSuccessModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentSuccessModal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closesuccessModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closesuccessModal:hover,
.closesuccessModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}