h1 {
    /* color: blueviolet */
    color: #d8e1e2
}

div.bg {
    height: 100%;
    width: 100%;
    background-image: url("backgroundSDS.jpg");
    /* margin: 0 auto; */
    background-repeat: no-repeat;
    background-size: 100% 720px;
    position: absolute;
}

form.log-in{
    text-align: center;
    /* margin-left: 32.54%; */
    margin-left: 2%;
    width: 35%;
    margin-top: 11%; /*9%*/
    color: rgb(255, 255, 255);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url("blue-background.jpg"); */
    opacity: 0.8;
    /* background-color: rgb(65, 60, 60);
    background-color: rgba(52 , 73 , 94 , 0.7);
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    border-radius: 8px; */
  }

.log-in img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
}

input.input_fields {
    border: none;
    font-size: 18px;
    padding: 7px;
    padding-left: 35px;
    width: 65%;
    border-radius:5px; /*18px*/
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    margin-top: 2px;
    cursor: text;
    color: black;
  }
*:focus {
    outline: none;
}

.form-input-name::before{
    content: "\f007";
    position: absolute;
    font-size: 25px;
    font-family: "FontAwesome";
    color: #248c92;
    padding-left: 10px;
    padding-top: 2px;
}
.form-input-email::before{
    content: "\f0e0";
    position: absolute;
    font-size: 19px;
    font-family: "FontAwesome";
    color: #248c92;
    padding-left: 10px;
    padding-top: 9px;
}
.form-input-pass::before{
    content: "\f023";
    position: absolute;
    font-size: 25px;
    font-family: "FontAwesome";
    color: #248c92;
    padding-left: 12px;
    padding-top: 5px;
}

button.btn_login { 
    background-color: #248c92;
    border: none;
    padding: 10px;
    width: 65%;
    border-radius:5px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }

.back{
    height: 100%;
    background-image: url("Lighthouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

/* Table stuff */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 50%; */
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px; 
}

tr:nth-child(even) {
    background-color: #dddddd;
}