<!-- Appointment content -->
<div id="divAppointment" class="appointment">
    <h1 class="marqueecolor">Appointment</h1>
<!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" id="btnAddAppointment" data-toggle="modal" data-target="#appointmentModal">
      <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Appointment
    </button>


<!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header headerFooterColor">
        <h5 class="modal-title" id="appointmentModalLabel">Add Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="add-appointment" method="POST" action = "/patient/add"><br/>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Reg. No:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><input class="form-control" onfocusout="return pRegNoAppDefault()" type="int" pattern="\d*" title="Numbers Only" name="pRegNoApp" id="pRegNoApp" /></div>
              <small id="regNoAppError" class="text-danger pt-2"></small>
            </div>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Appointment No:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><input class="form-control" type="int" name="appointmentNo" id="appointmentNo" readonly/></div>
              <small id="appNoError" class="text-danger pt-2"></small>
            </div>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Date:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><input class="form-control" onfocusout="return appointmentDateDefault()" type="date" name="appointmentDate" id="appointmentDate"/></div>
              <small id="dateAppError" class="text-danger pt-2"></small>
            </div>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Patient Name:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><input class="form-control" type="text" name="patientName" id="patientName" readonly/></div>
              <small id="pNameAppError" class="text-danger pt-2"></small>
            </div>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Time:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><input class="form-control" onfocusout="return appTimeDefault()" type="text" pattern="[^a-zA-Z'?&%$#@()}{><.,|*;]+" title="Enter numeric values only." name="appTime" id="appTime"/></div>
              <small id="timeAppError" class="text-danger pt-2"></small>
            </div>
            <div class="row">
              <div class="col-sm-4"><label class="lab">Comments:</label></div>
              <div class="col-sm-6 col-md-8 col-lg-6"><textarea class="form-control" name="comments" id="comments"></textarea></div>
            </div>
        </div>
        <div class="modal-footer headerFooterColor">
          <button type="submit" class="btn btn-danger">Add Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="../js/appointment.js"></script>