<html lang="en">
  <head>
    <!-- font-awesome.css path -->
    <link rel="stylesheet" href="../style/font-awesome/css/font-awesome.css">

    <!-- JQuery path -->
    <script src="../js/jquery-3.3.1.min.js" ></script>

    <!-- Bootstrap JS path -->
    <script src="../style/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS path -->
    <link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css" >

    <!-- imported main.css -->
    <link rel="stylesheet" href="../style/main.css" >

    <!-- imported style.css -->
    <link rel="stylesheet" href="../style/style.css">
    <title>{{titlePage}}</title>
</head>
<body >
  <!-- header  -->
<nav class="nav navbar navbar-light d-flex justify-content-between py-0 sticky-top" style="background-color:#363F4D">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="#" style="color:#0497df;">
      <i class="fa fa-hospital-o"></i> SDS</a>
    <form class="nav-item" style="width: 30rem;">
      <div class="input-group pt-3">
        <input type="text" class="form-control" placeholder="Search patient...">
        <button class="btn" style="background-color: teal;color: whitesmoke;" type="button" id="searchPatient">
          <i class="fa fa-search fa-fw"></i>
        </button>
      </div>
    </form>
    <div class="d-inline-flex p-2">
      <a href="#">
        <i class="fa fa-user-circle fa-2x pr-3 mt-0" style="color: white"></i>
      </a>
      <button type="button" class="btn btn-sm btn-danger" id="btnLogout">
        <strong>Logout </strong>
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>
</nav>

<!-- side-nav bar -->
  <div class="side-nav">
    <!-- side-nav ul li for medium and large screens -->
    <div class="d-none d-sm-none d-md-block">
        <ul>
            <li>
              <a href="#" id="aDashboard">
              <span><i class="fa fa-home " aria-hidden="true"></i></span>
              <span> Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" id="aAppointment">
                <span><i class="fa fa-calendar " aria-hidden="true"></i></span>
              <span> Appointment</span>
              </a>
            </li>
            <li>
              <a href="#" id="aPatient">
                <span><i class="fa fa-users " aria-hidden="true"></i></span>
              <span> Patient</span>
              </a>
            </li>
            <li>
              <a href="#" id="aTreatment">
                <span><i class="fa fa-plus-square " aria-hidden="true"></i></span>
              <span> Treatment</span>
              </a>
            </li>
            <br/>
          </ul>
    </div>
    <!--side-nav ul li for small screens -->
    <div class="d-block d-sm-block d-md-none">
        <ul>
          <li>
            <a href="#" id="aDashboard">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="#" id="aAppointment">
              <i class="fa fa-calendar "></i>
            </a>
          </li>
          <li>
            <a href="#" id="aPatient">
              <i class="fa fa-users "></i>
            </a>
          </li>
          <li>
            <a href="#" id="aTreatment">
              <i class="fa fa-plus-square "></i>
            </a>
          </li>
        </ul>
      </div>
  </div><!--side-nav closing div -->
  
  <!-- Dashboard content -->
  <div id="divDashboard" class="dashboard">
    <!-- <h1 class="marqueecolor">Dashboard</h1> --><br/>
    <marquee><h2 class="marqueeColor">Shakir Dental Surgery</h2></marquee><hr/>
    
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <div class="card text-white bg-info o-hidden">
          <div class="card-body">
              <i class="fa fa-4x fa-comments float-right"></i>
            <div class="mr-5">Total Appointments!</div>
          </div>
        </div>
            <br class="d-block d-sm-block d-md-none"/>
      </div>
      
      <div class="col-sm-4 col-md-4 col-lg-3">
        <div class="card text-white bg-info o-hidden">
          <div class="card-body">
            <i class="fa fa-4x fa-users float-right"></i>
          <div class="mr-5">Total Patients!</div>
          </div>
        </div>
        <br class="d-block d-sm-block d-md-none"/>
      </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="card text-white bg-danger o-hidden">
        <div class="card-body">
          <i class="fa fa-4x fa-money float-right"></i>
        <div class="mr-5">Dues Pending!</div>
        </div>
      </div>
    </div>
  </div>
    
    <br/>
    <div class="row">
      <div class="col-sm-3"><h4>Appointments Today</h4></div>
      <div class="col-sm-3"><h4 id="dashDate"></h4></div>
    </div><br/>
    <table >
      <tr>
        <th>Patient's Name</th>
        <th>Appointment Time</th> 
      </tr>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td> 
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
      </tr>
    </table>
  </div>

  <!-- Patient content -->
  <div id="divPatient" class="patient">
    <h1 class="marqueecolor">Patient</h1>
      <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button> -->
      <!-- OWN model stuff starts -->
      <!-- Trigger/Open The Modal -->
      <div class="row">
        <!-- <div class="d-flex justify-content-between">
          <div>
        <button type="button" class="btn btn-danger" id="myBtn"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search patient..." ><button class="btn btn-info" type="button" id="searchPatient"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
          </div>
        </div> -->
        <div class="col-sm-4">
        <button type="button" class="btn btn-danger" id="myBtn"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button>
        </div>
        <div class="col-sm-4 col-md-8 col-lg-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search patient..." aria-describedby="basic-addon2"><button class="btn btn-info" type="button" id="searchPatient"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
        </div>
        </div>
      </div>
      
      <!-- success alert afetr submitting Add Patient from modal -->
      <!-- The Modal -->
      <div id="successModal" class="modalSuccessModal">
        <!-- Modal content -->
        <div class="modal-contentSuccessModal">
        <span class="closeSuccessModal">&times;</span>
        <div class="alert alert-success" style="margin-right: 20px" role="alert">
          <strong> You have succesfully added patient :p </strong>
        </div>
        </div>
      </div>

      <!-- Search Result data -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <b>Patient's Personal History</b>
            </div>
            <div class="card-body" id="searchResultPersonalHistory" >
              History goes here.
            </div>
          </div>
      <!-- <div id="searchResult">
        <table>
          <tr>
            <td>Joining Date:</td>
            <td></td>
          </tr>
          <tr>
            <td>Reg. No.</td>
            <td></td>
          </tr> 
          <tr>
            <td>Name:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Parent Name:</td>
            <td></td>
          </tr> 
          <tr>
            <td>House Address:</td>
            <td>ABC street House # 123 xyz area karachi</td>
          </tr> 
          <tr>
            <td>Work Address:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Marital Status:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Occupation:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Tel:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Refrence:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Age:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Sex:</td>
            <td></td>
          </tr>
        </table>
      </div> -->
    </div>
    <div class="col-sm-5">
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header">
          <b>Appointment History</b>
        </div>
        <div class="card-body" id="searchResultAppointment">          
          Appointment History goes here.
        </div>
      </div>
      </div><!--inner col-sm div close-->
      </div> <!-- inner row div close-->
      <br>
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header">
          <b>Treatment History</b>
        </div>
        <div class="card-body" id="searchResultTreatment">          
          Treatment History goes here.
        </div>
        </div>
        </div><!--inner col-sm div close-->
        </div> <!-- inner row div close-->
    </div> <!-- col-sm-5 div close -->
    </div> <!--Row div close -->

      <!-- Add Patient Modal -->
      <div id="myModal" class="modal">
      <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Patient</h4>                    
              <span class="closePatient">&times;</span>
          </div>
          <div class="modal-body">
            <form id="add-patient" >
              <div class="row">
                <div class="col-sm-3"><label class="lab">Date:</label></div>
                <div class="col-sm-6"><input class="form-control" type="date" name="pdate" id="pdate"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Name:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="name" id="name"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Parent Name:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="pname" id="pname"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">House Address:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="houseAddress" id="houseAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Work Address:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="workAddress" id="workAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Marital Status:</label></div>
                <div class="col-sm-6">
                    <!-- <input class="form-control" type="text" name="mstatus" id="mstatus"/> -->
                <select class="custom-select" name="mstatus" id="mstatus">
                  <option selected>Select...</option>
                  <option value="Married">Married</option>
                  <option value="Unmarried">Unmarried</option>
                </select></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Occupation:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="occupation" id="occupation"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Tel:</label></div>
                <div class="col-sm-6"><input class="form-control" type="tel" name="tel" id="telNo"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Reference:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="reference" id="reference"/></div>
              </div>
              <div class="row">              
              <div class="col-sm-2">Age:<input class="form-control" type="text" name="age" id="age"/></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Sex:<select class="custom-select" name="sex" id="sex">
                  <option selected>Select...</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select></div>
                <!-- <input class="form-control" type="text" placeholder="M/F" name="sex" id="sex"/> -->
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Reg. No.<input class="form-control" type="text" name="regNo" id="regNo"/></div>
              </div>
              <hr>
              <h5>Patient Health Questionnaire</h5>
              <h6><b><u>Personal Habits</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="smoking" id="smoking"/>Smoking</div>
                <div class="col-sm-3"><input type="checkbox" name="tobacco" id="tobacco"/>Tobacco</div>
                <div class="col-sm-3"><input type="checkbox" name="betelNuts" id="betelNuts"/>Betel Nuts</div>
                <div class="col-sm-3"><input type="checkbox" name="alcohol" id="alcohol"/>Alcohol</div>
              </div><br>
              <h6><b><u>Medical Profile</u></b></h6>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="diabetes" id="diabetes"/>Diabetes Mellitus</div>
                <div class="col-sm-4"><input type="checkbox" name="pepticUlcer" id="pepticUlcer"/>Peptic Ulcer</div>
                <div class="col-sm-4"><input type="checkbox" name="hypertension" id="hypertension"/>Hypertension</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="asthma" id="asthma"/>Asthma</div>
                <div class="col-sm-4"><input type="checkbox" name="tuberculosis" id="tuberculosis"/>Tuberculosis</div>
                <div class="col-sm-4"><input type="checkbox" name="hepatitis" id="hepatitis"/>Hepatitis</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="thyroidDisorder" id="thyroidDisorder"/>Thyroid Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="renalDisease" id="renalDisease"/>Renal Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="skinDisease" id="skinDisease"/>Skin Disease </div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="bleedingDisorder" id="bleedingDisorder"/>Bleeding Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="ischemicHeartDisease" id="ischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="valvularHeartDisease" id="valvularHeartDisease"/>Valvular Heart Disease</div>
              </div>
              <div class="row">
                <div class="col-sm-7"><input type="checkbox"/>Previous Hospitalization:(Reason)<textarea class="form-control" name="reason" id="reason" cols="30"></textarea></div>
                <!-- <div class="col-sm-4"><textarea cols="30"></textarea></div> -->
              </div><br>
              <h6><b><u>Allergies</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="penicillin" id="penicillin"/>Penicillin/Sulfa Drug</div>
                <div class="col-sm-3"><input type="checkbox" name="anesthesia" id="anesthesia"/>Anesthesia</div>
                <div class="col-sm-3"><input type="checkbox" name="aspirin" id="aspirin"/>Aspirin</div>
                <div class="col-sm-3"><input type="checkbox" name="latexProduct" id="latexProduct"/>Latex Product</div>
              </div><br>
              <h6><b><u>Family History</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="famdiabetes" id="famdiabetes"/>Diabetes</div>
                <div class="col-sm-3"><input type="checkbox" name="famhypertension" id="famhypertension"/>Hypertension</div>
                <div class="col-sm-3"><input type="checkbox" name="famischemicHeartDisease" id="famischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-3"><input type="checkbox" name="fambleedingDisorder" id="fambleedingDisorder"/>Bleeding Disorder</div>
              </div><br>
              <h6><b><u>For Females Only</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="pregnancy" id="pregnancy"/>Pregnancy</div>
                <div class="col-sm-3"><input type="checkbox" name="breastFeeding" id="breastFeeding"/>Breast Feeding</div>
              </div><br>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnSubmitAddPatient"class="btn btn-danger" data-dismiss="modal" >Add Patient</button>
          </div>
        </form>          
        </div>
      </div>
    </div>
    <!-- own model stuff ends -->

    <!-- Appointment content -->
    <div id="divAppointment" class="appointment">
      <h1 class="marqueecolor">Appointment</h1>
      <button type="button" class="btn btn-danger" id="btnAddAppointment"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Appointment</button>

      <div id="modalAppointment" class="modal" >
        <div class="modal-content-appointment">
          <div class="modal-header">
            <h4 class="modal-title">Add Appointment</h4>
              <span class="closeAppointment">&times;</span>
          </div>
          <div class="modal-body">
            <form id="add-appointment" method="POST" action = "/patient/add"><br/>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Reg. No:</label></div>
                <div class="col-sm-6"><input class="form-control" type="int" name="pRegNoApp" id="pRegNoApp"/></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Appointment No:</label></div>
                <div class="col-sm-6"><input class="form-control" type="int" name="appointmentNo" id="appointmentNo" readonly/></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Date:</label></div>
                <div class="col-sm-6"><input class="form-control" type="date" name="appointmentDate" id="appointmentDate"/></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Patient Name:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="patientName" id="patientName" readonly/></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Time:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="appTime" id="appTime"/></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><label class="lab">Comments:</label></div>
                <div class="col-sm-6"><textarea class="form-control" name="comments" id="comments"></textarea></div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-dismiss="modal">Add Appointment</button>
          </div>
        </form>          
        </div>
      </div>
    </div>

    <!-- Treatment content -->
    <div id="divTreatment" class="treatment">
      <!-- <h1 class="marqueecolor">Treatment</h1>
      <br/> -->

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3>Treatment</h3>
            </div>
            <div class="card-body">
              <form id="add-treatment" method="POST" action="" >
              <div class="row">
                <div class="col-sm-2"><label class="lab">Reg. No:</label></div>
                <div class="col-sm-2"><input class="form-control" type="int" name="pRegNoTreatment" id="pRegNoTreatment"/></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><label class="lab">Patient Name:</label></div>
                <div class="col-sm-4"><input class="form-control" type="text" name="pNameTreatment" id="pNameTreatment"/></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><label class="lab">Appointment No:</label></div>
                <div class="col-sm-4"><input class="form-control" type="int" name="pAppNoTreatment" id="pAppNoTreatment"/></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><label class="lab">Treatment Details:</label></div>
                <div class="col-sm-4"><textarea class="form-control" rows="4" name="treatmentDetails" id="treatmentDetails"></textarea></div>
              </div> 
              <div class="row" style="margin-top:1%">
                <div class="col-sm-2"><label class="lab">Total Cost:</label></div>
                <div class="col-sm-4"><input class="form-control" type="int" name="cost" id="cost"/></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><label class="lab">Paid:</label></div>
                <div class="col-sm-4"><input class="form-control" type="int" name="paid" id="paid"/></div>
              </div>
              <div class="row">
                <div class="col-sm-2"><label class="lab">Balance:</label></div>
                <div class="col-sm-4"><input class="form-control" type="int" name="balance" id="balance"/></div>
              </div>
              <button type="submit" class="btn btn-primary" name="btnAddTreatment" id="btnAddTreatment" style="margin-left:17%;margin-top:1%" >Save</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

      <!-- scripts path-->
      <script src="../js/modal.js"></script>
      <script src="../js/script.js"></script>
</body>
</html>