  
  <!-- Patient content -->
  <div id="divPatient" class="patient">
    <h1 class="marqueecolor">Patient</h1>
    
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#patientModal" id="myBtn">
      <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button>
  </div>
</div>
<br />

<!-- success alert afetr submitting Add Patient from modal -->
<!-- The Modal -->
<div id="successModal" class="modalSuccessModal">
  <!-- Modal content -->
  <div class="modal-contentSuccessModal">
    <span class="closeSuccessModal">&times;</span>
    <div class="alert alert-success" style="margin-right: 20px" role="alert">
      <strong> You have succesfully added patient :p </strong>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped table-responsive-sm" id="patientTable">
  <thead class="thead-dark">
    <tr>
      <th>Patient Name</th>
      <th>Registration No</th>
      <th>Appointments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header headerFooterColor">
        <h5 class="modal-title" id="patientModalLabel">Add Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form id="add-patient" >
              <div class="row">
                <div class="col-sm-3"><label class="lab">Date:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="date" name="pdate" id="pdate" /></div>
                <small id="dateError" class="text-danger"></small>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Reg No:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6">
                  <div class="input-group">
                  <input class="form-control" onfocusout="return regNoDefault()" type="text" name="regNo" id="regNo"/>
                  <div class="input-group-append">
                    <button class="btn btnRefresh" id="regNoRefresh" onclick="return refreshRegNo()" type="button" data-toggle="tooltip" title="Refresh Reg No"><i class="fa fa-refresh"></i></button>
                  </div>
                  </div>
                </div>
                <small id="regNoError" class="text-danger pt-2"></small>
              </div>

              <div class="row">
                <div class="col-sm-3"><label class="lab">Name:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" onfocusout="return nameDefault()" type="text" name="name" id="name"/></div>
                <small id="nameError" class="text-danger pt-2"></small>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Parent Name:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="text" name="pname" id="pname"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">House Address:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="text" name="houseAddress" id="houseAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Work Address:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="text" name="workAddress" id="workAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Marital Status:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6">
                    <!-- <input class="form-control" type="text" name="mstatus" id="mstatus"/> -->
                <select class="custom-select" name="mstatus" id="mstatus">
                  <option selected>Select...</option>
                  <option value="Married">Married</option>
                  <option value="Unmarried">Unmarried</option>
                </select></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Occupation:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="text" name="occupation" id="occupation"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Tel:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6">
                  <input class="form-control" onfocusout="return tellDefault()" type="tel" name="tel" id="telNo" /></div>
                <small id="telError" class="text-danger pt-2"></small>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Reference:</label></div>
                <div class="col-sm-8 col-md-8 col-lg-6"><input class="form-control" type="text" name="reference" id="reference"/></div>
              </div>
              <div class="row">              
              <div class="col-sm-2">Age:<input class="form-control" onfocusout="return ageDefault()" type="text" name="age" id="age" /></div>
              <small id="ageError" class="text-danger pt-4"></small>
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Sex:<select class="custom-select" onfocusout="return sexDefault()" name="sex" id="sex">
                  <option value="0" selected>Select...</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select></div>
                <small id="sexError" class="text-danger pt-2"></small>
              <div class="col-sm-1"></div>
              {{!-- <div class="col-sm-2">Reg. No.<input class="form-control" type="text" name="regNo" id="regNo" /></div> --}}
              </div>
              <hr>
              <h5>Patient Health Questionnaire</h5>
              <h6><b><u>Personal Habits</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="smoking" id="smoking"/>Smoking</div>
                <div class="col-sm-3"><input type="checkbox" name="tobacco" id="tobacco"/>Tobacco</div>
                <div class="col-sm-3"><input type="checkbox" name="betelNuts" id="betelNuts"/>Betel Nuts</div>
                <div class="col-sm-3"><input type="checkbox" name="alcohol" id="alcohol"/>Alcohol</div>
              </div><br>
              <h6><b><u>Medical Profile</u></b></h6>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="diabetes" id="diabetes"/>Diabetes Mellitus</div>
                <div class="col-sm-4"><input type="checkbox" name="pepticUlcer" id="pepticUlcer"/>Peptic Ulcer</div>
                <div class="col-sm-4"><input type="checkbox" name="hypertension" id="hypertension"/>Hypertension</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="asthma" id="asthma"/>Asthma</div>
                <div class="col-sm-4"><input type="checkbox" name="tuberculosis" id="tuberculosis"/>Tuberculosis</div>
                <div class="col-sm-4"><input type="checkbox" name="hepatitis" id="hepatitis"/>Hepatitis</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="thyroidDisorder" id="thyroidDisorder"/>Thyroid Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="renalDisease" id="renalDisease"/>Renal Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="skinDisease" id="skinDisease"/>Skin Disease </div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="bleedingDisorder" id="bleedingDisorder"/>Bleeding Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="ischemicHeartDisease" id="ischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="valvularHeartDisease" id="valvularHeartDisease"/>Valvular Heart Disease</div>
              </div>
              <div class="row">
                <div class="col-sm-7"><input type="checkbox"/>Previous Hospitalization:(Reason)<textarea class="form-control" name="reason" id="reason" cols="30"></textarea></div>
                <!-- <div class="col-sm-4"><textarea cols="30"></textarea></div> -->
              </div><br>
              <h6><b><u>Allergies</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="penicillin" id="penicillin"/>Penicillin/Sulfa Drug</div>
                <div class="col-sm-3"><input type="checkbox" name="anesthesia" id="anesthesia"/>Anesthesia</div>
                <div class="col-sm-3"><input type="checkbox" name="aspirin" id="aspirin"/>Aspirin</div>
                <div class="col-sm-3"><input type="checkbox" name="latexProduct" id="latexProduct"/>Latex Product</div>
              </div><br>
              <h6><b><u>Family History</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="famdiabetes" id="famdiabetes"/>Diabetes</div>
                <div class="col-sm-3"><input type="checkbox" name="famhypertension" id="famhypertension"/>Hypertension</div>
                <div class="col-sm-3"><input type="checkbox" name="famischemicHeartDisease" id="famischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-3"><input type="checkbox" name="fambleedingDisorder" id="fambleedingDisorder"/>Bleeding Disorder</div>
              </div><br>
              <h6><b><u>For Females Only</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="pregnancy" id="pregnancy"/>Pregnancy</div>
                <div class="col-sm-3"><input type="checkbox" name="breastFeeding" id="breastFeeding"/>Breast Feeding</div>
              </div><br>
          </div>
          <div class="modal-footer headerFooterColor">
            <button type="submit" id="btnSubmitAddPatient" class="btn btn-danger">Add Patient</button>
          </div>
          </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="../js/patient.js"></script>
<script type="text/javascript" src="../js/datatables.min.js"></script>