  <!-- Patient content -->
  <div id="divPatient" class="patient">
    <h1 class="marqueecolor">Patient</h1>
      <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button> -->
      <!-- OWN model stuff starts -->
      <!-- Trigger/Open The Modal -->
      <div class="row">
        <!-- <div class="d-flex justify-content-between">
          <div>
        <button type="button" class="btn btn-danger" id="myBtn"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search patient..." ><button class="btn btn-info" type="button" id="searchPatient"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
          </div>
        </div> -->
        <div class="col-sm-4">
        <button type="button" class="btn btn-danger" id="myBtn"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Patient</button>
        </div>
        <div class="col-sm-4 col-md-8 col-lg-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search patient..." aria-describedby="basic-addon2"><button class="btn btn-info" type="button" id="searchPatient"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
        </div>
        </div>
      </div>
      
      <!-- success alert afetr submitting Add Patient from modal -->
      <!-- The Modal -->
      <div id="successModal" class="modalSuccessModal">
        <!-- Modal content -->
        <div class="modal-contentSuccessModal">
        <span class="closeSuccessModal">&times;</span>
        <div class="alert alert-success" style="margin-right: 20px" role="alert">
          <strong> You have succesfully added patient :p </strong>
        </div>
        </div>
      </div>

      <!-- Search Result data -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <b>Patient's Personal History</b>
            </div>
            <div class="card-body" id="searchResultPersonalHistory" >
              History goes here.
            </div>
          </div>
      <!-- <div id="searchResult">
        <table>
          <tr>
            <td>Joining Date:</td>
            <td></td>
          </tr>
          <tr>
            <td>Reg. No.</td>
            <td></td>
          </tr> 
          <tr>
            <td>Name:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Parent Name:</td>
            <td></td>
          </tr> 
          <tr>
            <td>House Address:</td>
            <td>ABC street House # 123 xyz area karachi</td>
          </tr> 
          <tr>
            <td>Work Address:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Marital Status:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Occupation:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Tel:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Refrence:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Age:</td>
            <td></td>
          </tr> 
          <tr>
            <td>Sex:</td>
            <td></td>
          </tr>
        </table>
      </div> -->
    </div>
    <div class="col-sm-5">
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header">
          <b>Appointment History</b>
        </div>
        <div class="card-body" id="searchResultAppointment">          
          Appointment History goes here.
        </div>
      </div>
      </div><!--inner col-sm div close-->
      </div> <!-- inner row div close-->
      <br>
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header">
          <b>Treatment History</b>
        </div>
        <div class="card-body" id="searchResultTreatment">          
          Treatment History goes here.
        </div>
        </div>
        </div><!--inner col-sm div close-->
        </div> <!-- inner row div close-->
    </div> <!-- col-sm-5 div close -->
    </div> <!--Row div close -->

      <!-- Add Patient Modal -->
      <div id="myModal" class="modal">
      <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Patient</h4>                    
              <span class="closePatient">&times;</span>
          </div>
          <div class="modal-body">
            <form id="add-patient" >
              <div class="row">
                <div class="col-sm-3"><label class="lab">Date:</label></div>
                <div class="col-sm-6"><input class="form-control" type="date" name="pdate" id="pdate"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Name:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="name" id="name"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Parent Name:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="pname" id="pname"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">House Address:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="houseAddress" id="houseAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Work Address:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="workAddress" id="workAddress"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Marital Status:</label></div>
                <div class="col-sm-6">
                    <!-- <input class="form-control" type="text" name="mstatus" id="mstatus"/> -->
                <select class="custom-select" name="mstatus" id="mstatus">
                  <option selected>Select...</option>
                  <option value="Married">Married</option>
                  <option value="Unmarried">Unmarried</option>
                </select></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Occupation:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="occupation" id="occupation"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Tel:</label></div>
                <div class="col-sm-6"><input class="form-control" type="tel" name="tel" id="telNo"/></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><label class="lab">Reference:</label></div>
                <div class="col-sm-6"><input class="form-control" type="text" name="reference" id="reference"/></div>
              </div>
              <div class="row">              
              <div class="col-sm-2">Age:<input class="form-control" type="text" name="age" id="age"/></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Sex:<select class="custom-select" name="sex" id="sex">
                  <option selected>Select...</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select></div>
                <!-- <input class="form-control" type="text" placeholder="M/F" name="sex" id="sex"/> -->
              <div class="col-sm-1"></div>
              <div class="col-sm-2">Reg. No.<input class="form-control" type="text" name="regNo" id="regNo"/></div>
              </div>
              <hr>
              <h5>Patient Health Questionnaire</h5>
              <h6><b><u>Personal Habits</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="smoking" id="smoking"/>Smoking</div>
                <div class="col-sm-3"><input type="checkbox" name="tobacco" id="tobacco"/>Tobacco</div>
                <div class="col-sm-3"><input type="checkbox" name="betelNuts" id="betelNuts"/>Betel Nuts</div>
                <div class="col-sm-3"><input type="checkbox" name="alcohol" id="alcohol"/>Alcohol</div>
              </div><br>
              <h6><b><u>Medical Profile</u></b></h6>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="diabetes" id="diabetes"/>Diabetes Mellitus</div>
                <div class="col-sm-4"><input type="checkbox" name="pepticUlcer" id="pepticUlcer"/>Peptic Ulcer</div>
                <div class="col-sm-4"><input type="checkbox" name="hypertension" id="hypertension"/>Hypertension</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="asthma" id="asthma"/>Asthma</div>
                <div class="col-sm-4"><input type="checkbox" name="tuberculosis" id="tuberculosis"/>Tuberculosis</div>
                <div class="col-sm-4"><input type="checkbox" name="hepatitis" id="hepatitis"/>Hepatitis</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="thyroidDisorder" id="thyroidDisorder"/>Thyroid Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="renalDisease" id="renalDisease"/>Renal Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="skinDisease" id="skinDisease"/>Skin Disease </div>
              </div>
              <div class="row">
                <div class="col-sm-4"><input type="checkbox" name="bleedingDisorder" id="bleedingDisorder"/>Bleeding Disorder</div>
                <div class="col-sm-4"><input type="checkbox" name="ischemicHeartDisease" id="ischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-4"><input type="checkbox" name="valvularHeartDisease" id="valvularHeartDisease"/>Valvular Heart Disease</div>
              </div>
              <div class="row">
                <div class="col-sm-7"><input type="checkbox"/>Previous Hospitalization:(Reason)<textarea class="form-control" name="reason" id="reason" cols="30"></textarea></div>
                <!-- <div class="col-sm-4"><textarea cols="30"></textarea></div> -->
              </div><br>
              <h6><b><u>Allergies</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="penicillin" id="penicillin"/>Penicillin/Sulfa Drug</div>
                <div class="col-sm-3"><input type="checkbox" name="anesthesia" id="anesthesia"/>Anesthesia</div>
                <div class="col-sm-3"><input type="checkbox" name="aspirin" id="aspirin"/>Aspirin</div>
                <div class="col-sm-3"><input type="checkbox" name="latexProduct" id="latexProduct"/>Latex Product</div>
              </div><br>
              <h6><b><u>Family History</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="famdiabetes" id="famdiabetes"/>Diabetes</div>
                <div class="col-sm-3"><input type="checkbox" name="famhypertension" id="famhypertension"/>Hypertension</div>
                <div class="col-sm-3"><input type="checkbox" name="famischemicHeartDisease" id="famischemicHeartDisease"/>Ischemic Heart Disease</div>
                <div class="col-sm-3"><input type="checkbox" name="fambleedingDisorder" id="fambleedingDisorder"/>Bleeding Disorder</div>
              </div><br>
              <h6><b><u>For Females Only</u></b></h6>
              <div class="row">
                <div class="col-sm-3"><input type="checkbox" name="pregnancy" id="pregnancy"/>Pregnancy</div>
                <div class="col-sm-3"><input type="checkbox" name="breastFeeding" id="breastFeeding"/>Breast Feeding</div>
              </div><br>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnSubmitAddPatient"class="btn btn-danger" data-dismiss="modal" >Add Patient</button>
          </div>
        </form>          
        </div>
      </div>
    </div>
    <!-- own model stuff ends -->
