<!-- Search Result data -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <b>Patient's Personal History</b>
            </div>
            <div class="card-body" id="searchResultPersonalHistory" >
              <table class="table table-borderless">
                <thead class="">
                  
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>samair</td>
                  </tr>
                  <tr>
                    <th scope="row">Reg No.</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Parent Name</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">House Address</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Work Address</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Marital Status</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Occupation</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Tel</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Reference</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Age</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Sex</th>
                    <td></td>
                  </tr>
                  <tr class="thead-light">
                    <th colspan="2" >Health History</th>
                  </tr>
                  <tr>
                    <th scope="row">Problem 1</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Problem 2</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
    </div>
    <div class="col-sm-5">
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header ">
          <b>Appointment History</b>
        </div>
        <div class="card-body" id="searchResultAppointment">          
          <table class="table">
            <thead>

            </thead>
            <tbody>
              <tr>
                <th scope="row">Appointmnet No.</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Date</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Time</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Comments</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div><!--inner col-sm div close-->
      </div> <!-- inner row div close-->
      <br>
      <div class="row">
      <div class="col-sm-12">        
      <div class="card">
        <div class="card-header">
          <b>Treatment History</b>
        </div>
        <div class="card-body" id="searchResultTreatment">          
          <table class="table">
            <thead>

            </thead>
            <tbody>
              <tr>
                <td scope="row">Appointmnet No.</td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Treatment Details</td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Total Cost</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div><!--inner col-sm div close-->
        </div> <!-- inner row div close-->
    </div> <!-- col-sm-5 div close -->
    </div> <!--Row div close -->