<!-- Treatment content -->
<div id="divTreatment" class="treatment">
    <!-- <h1 class="marqueecolor">Treatment</h1>
    <br/> -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-header">
            <h3>Treatment</h3>
          </div>
          <div class="card-body">
            <form id="add-treatment" method="POST" action="" >
            <div class="row">
              <div class="col-sm-2"><label class="lab">Reg. No:</label></div>
              <div class="col-sm-2"><input class="form-control" type="int" name="pRegNoTreatment" id="pRegNoTreatment"/></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><label class="lab">Patient Name:</label></div>
              <div class="col-sm-4"><input class="form-control" type="text" name="pNameTreatment" id="pNameTreatment"/></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><label class="lab">Appointment No:</label></div>
              <div class="col-sm-4"><input class="form-control" type="int" name="pAppNoTreatment" id="pAppNoTreatment"/></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><label class="lab">Treatment Details:</label></div>
              <div class="col-sm-4"><textarea class="form-control" rows="4" name="treatmentDetails" id="treatmentDetails"></textarea></div>
            </div> 
            <div class="row" style="margin-top:1%">
              <div class="col-sm-2"><label class="lab">Total Cost:</label></div>
              <div class="col-sm-4"><input class="form-control" type="int" name="cost" id="cost"/></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><label class="lab">Paid:</label></div>
              <div class="col-sm-4"><input class="form-control" type="int" name="paid" id="paid"/></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><label class="lab">Balance:</label></div>
              <div class="col-sm-4"><input class="form-control" type="int" name="balance" id="balance"/></div>
            </div>
            <button type="submit" class="btn btn-primary" name="btnAddTreatment" id="btnAddTreatment" style="margin-left:17%;margin-top:1%" >Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../js/treatment.js"></script>